html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  min-width: 320px;
  padding: 0;
  margin: 0;
  flex-shrink: 1;
}
.fontsize16 {
  font-size: 16px;
}
.fontsize48 {
  font-size: 48px;
  margin-bottom: 1rem;
}
h1 {
  font-family: "Frank Ruhl Libre", serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.9rem;
  opacity: 0.7;
}
.family-block > p {
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.whitetext {
  color: whitesmoke;
}
.family-block > h1:nth-child(1) {
  padding-top: 4rem;
  margin-top: 0;
}
.family-block > h1 {
  line-height: 0.5rem;
  font-size: 2.5rem;
}
.family-block {
  background-color: #c7ddea;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
}
.family-block span {
  position: relative;
}
.family-block > img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 40%;
}

.join-now {
  border-radius: 25px;
  border-style: none;
  box-shadow: 1px 4px 7px 1px #95a9b4;
  padding: 0.2rem 2.5rem 0.2rem 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 20rem;
}
.join-now > p {
  font-size: 0.6rem;
  opacity: 1;
}
.dektop_nav {
  display: none;
}
/* Hamburgermenu starts here */
.index-hamburger {
  background-color: #fab131;
}
.burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
#menu-button {
  text-align: center;
}
#menu-button input {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 44%;
  opacity: 0;
  z-index: 2;
}

.burger-icon span {
  height: 5px;
  width: 35px;
  background-color: black;
  margin-bottom: 4px;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
}
.burger-icon span:nth-child(1) {
  width: 30px;
}
.burger-icon span:nth-child(3) {
  width: 30px;
}

#index-menu a {
  text-decoration: none;
}
#index-menu li {
  color: black;
  padding: 5px;
}
#index-menu {
  list-style-type: none;
  opacity: 0;
  padding: 0;
  display: none;
  padding-bottom: 20px;
  margin: 0;
}

#menu-button input:checked ~ #index-menu {
  opacity: 1;
  display: block;
}

/* Hamburger menu ends here*/
.twoblocks {
  display: flex;
  flex-direction: column;
}
.orangeblock > h1,
.yellowblock > h1 {
  font-size: 42px;
  margin: 0;
}

.orangeblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f17949;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 50%;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.yellowblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fab131;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 50%;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.index-main > h1:nth-child(1) {
  padding-top: 2.5rem;
  margin-top: 0;
}

.index-main {
  display: flex;
  flex-direction: column;
  background-color: #a9a19e;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin: 0;
  padding-bottom: 2rem;
  text-align: left;
}

.index-main_profiles {
  display: flex;
  flex-direction: column;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin: 0;
}
.index-profiles_boxes img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.index-profiles_boxes {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: whitesmoke;
  width: 16rem;
  height: 20rem;
  border-radius: 1rem;
  margin-top: 5rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  justify-content: flex-end;
}
.index-profiles_boxes > p {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.index-profiles_boxes_images {
  width: 90%;
  height: 40%;
  padding-top: 2rem;
  background-color: #c7ddea;
  align-self: center;
  border-radius: 1rem;
  /* position: relative; */
  position: absolute;
  bottom: 2rem;
  text-align: center;
  bottom: 68%;
  z-index: 1;
}

.yellowbackground {
  background-color: #fab131;
}
.orangebackground {
  background-color: #f17949;
}

.index-profiles_boxes > h1 {
  position: relative;
}

/* About us */
.aboutus {
  background-color: #fab131;
  display: grid;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin: 0;

  text-align: center;
  padding-bottom: 2.5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.six-items {
  display: grid;
  /* justify-content: center; */
  /* text-align: center; */
}
/* .six-items > .steps-how-it-works{
    height: 20vh;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} */
.steps-how-it-works:nth-child(1) {
  background-color: #c7ddea;
  /* text-align: center; */
}
/* .six-items_blueblock>h1{
  padding: 0;
  margin: 0;
} */
.steps-how-it-works:nth-child(3) {
  background-color: rgb(219, 219, 219);
  /* white-space: pre-line; */
}
.steps-how-it-works:nth-child(5) {
  background-color: #f17949;
}
.step-numbers {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
}
.step-numbers > h1,
.steps-how-it-works > h1 {
  margin: 0;
}

.steps-how-it-works {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20vh;
  text-align: center;
  flex-direction: column;
}

.steps-how-it-works > h1 {
  font-size: 38px;
  align-self: center;
  text-align: center;
  line-height: 2.5rem;
}

.steps-how-it-works > p {
  width: 60%;
}

.index-footer {
  background-color: grey;
  min-height: 20vh;
  position: relative;
  width: 100vw;
}

.mobile_arrow-up {
  color: #c7ddea;
  font-size: 52px;
  position: absolute;
  bottom: 15%;
  left: 80%;
  position: fixed;
  z-index: 999;
  background-color: #000000;
  border-radius: 70%;
}
.take-me-up {
  display: none;
}
.join-now_desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .index-hamburger {
    display: none;
  }
  .dektop_nav {
    display: contents;
  }
  .top-three-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "top-a top-a top-test top-test";
  }
  .top-a {
    grid-area: top-a;
    height: auto;
    margin: 0;
    padding: 0;
    height: 584px;
    width: auto;
    padding: 2rem 0 0 6rem;
  }
  .top-a > img {
    min-width: 300px;
    min-height: 350px;
    margin-right: 1rem;
  }
  .top-a > h1 {
    font-size: 46px;
  }
  .top-a > p {
    font-size: 14px;
    width: 55%;
  }
  .top-test {
    grid-area: top-test;
  }
  .top-b {
    grid-area: top-b;
    padding: 0 2rem 0 2rem;
    height: auto;
  }
  .top-c {
    grid-area: top-c;
    padding: 0 2rem 0 2rem;
    height: auto;
  }
  .join-now {
    margin-bottom: 0;
  }
  .mobile_arrow-up {
    display: none;
  }
  .index-main_profiles {
    flex-direction: row;
    justify-content: space-around;
    transform: translateY(50%);
  }
  .index-main {
    padding: 4rem;
  }
  .index-main_text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: wrap;
    padding-top: 5rem;
    margin-bottom: -5rem;
  }
  .index-main_text-container > p {
    width: 40%;
    margin: 0;
    padding-top: 0;
    margin-right: 4rem;
  }
  .index-main_text-container > h1 {
    width: 45%;
    margin: 0;
    padding-top: 0;
    margin-left: 4rem;
  }
  .join-now_desktop {
    margin-left: 4rem;
  }
  .aboutus {
    padding-top: 10rem;
    padding-bottom: 8rem;
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .six-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 600px;
  }
  .steps-how-it-works {
    height: 100%;
  }
  .take-me-up {
    width: 100%;
    padding: 2rem;
    display: flex;
    background-color: rgb(85, 85, 84);
    text-align: center;
    flex-direction: column;
  }
  .desktop_arrow-up {
    color: #000;
    visibility: visible;
    align-self: center;
  }
}



  /* OUR OFFERS */
  .our-offers_wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.our-offers_header{
    background-color: #b9cfdd;
    padding: 2rem;
    /* justify-content: center;
    align-content: center; */
  
}
.our-offers_header>p{
    width: 80%;
    margin: 0;
    margin-left: 0.2rem;
    padding-top: 1rem;    
}
.our-offers_hamburger{
  background-color: #c7ddea;
  
}
.our-offers_textarea{

padding: 2rem;
background-color:#ead3c7 ;
margin-top: 0;
}
.our-offers_textarea>h1{
  margin-top: 0;
}
.offers-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:#c7ddea ;
  padding: 2rem;
}
.offer{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin-top: 2rem;
  height: 15rem;
  justify-content: space-between;
  border-radius: 2px;
  transform: translate(50% 0);
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.017),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.024),
12.5px 12.5px 10px rgba(0, 0, 0, 0.03),
22.3px 22.3px 17.9px rgba(0, 0, 0, 0.036),
41.8px 41.8px 33.4px rgba(0, 0, 0, 0.043),
100px 100px 80px rgba(0, 0, 0, 0.06)
;
}
.offer>ul{
  list-style-type: none;
}
.offer>h4{
text-align: right;
vertical-align: bottom;
padding-right: 1rem;
margin: 0;
padding-bottom: 1rem;
font-style: italic ;
font-weight: 900;

}
.offer>h1{
  text-align: center;
  font-size: 24px;
  padding-top: 1rem;
  margin-bottom: 0;
  opacity: 0.9;
}
.offer>ul>li>p{
  font-size: 16px;
  margin: 0;
}
.offer>ul{
  padding-left: 2px;
}

.centrerad{
  text-align: center;
  
}
.centrerad li{
  padding-bottom: 0.5rem;
}


@media screen and (min-width: 768px) {
  .offers-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem; 
      padding: 3rem;
 }
  .our-offers_header{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .our-offers_header>p{
      max-width: 30%;
      padding-bottom: 5rem;
      font-size: 18px;
  }
.offer-area{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: "offers-a offers-b" "offers-a offers-b";
  
}
.offers-a{
  grid-area: offers-a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.offers-a>p {
  max-width: 50%;
  padding-top: 3rem;
  font-size: 18px;
}
.offers-b{
  grid-area: offers-b;

align-items: center;
}

.offer{
  min-width: 15rem;
  min-height: 19rem;
  transition: 0.3s;
  border: 2px solid transparent;
  margin-top: 0;
}

.offer:hover  {
  opacity: 1;
  outline:burlywood ;
  border:  2px solid burlywood;
  transform:  scale(1.04);
  /* transition: ease-in-out 1s; */



}
  
}
/* OUR OFFERS */


/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */

/* HEADER-CONTACT */
.contact-wrapper {
  font-family: "Fira Sans", sans-serif;
}
.block-man-baby {
  background-color: #c7ddea;
}
.block-man-baby__article {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 1rem 0;
  margin: 0;
}
.image-man-baby {
  max-width: 55%;
}
.block__man-baby-h1 {
  position: absolute;
  left: 1rem;
  top: -3rem;
  font-size: 2.8rem;
  font-weight: 800;
  margin-top: 8rem;
  width: 200px;
  line-height: 41px;
}
.block__contact {
  flex-wrap: wrap;
  padding-bottom: 0;
  display: flex;
  padding: 0;
  transition: 0.5s ease;
  list-style: none;
  margin: 0;
}
.nav--contact {
  width: 50%;
  text-align: center;
  font-weight: bold;
  color: #999999;
  transition: 0.5s ease;
  text-decoration: none;
  font-size: 0.8rem;
}
.nav--contact.active > a {
  background-color: #f1f1f1;
  color: #000000;
}
.nav--contact > a {
  text-decoration: none;
  color: #a9a19e;
  transition: 0.5s ease;
  padding: 2rem;
  display: block;
}
.nav--contact > a:hover {
  cursor: pointer;
  color: black;
  transition: 0.5s ease;
}
.nav--contact:hover {
  background-color: #f1f1f1;
  transition: 0.5s ease;
  text-align: center;
  font-weight: bold;
  transition: 0.5s ease;
}

/* MAIN-CONTACT*/
.contact-main {
  background-color: #a9a19e;
  padding: 1.5rem;
  align-items: center;
  padding-bottom: 9rem;
}
.contact-main__h1 {
  margin-top: 0;
  color: white;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 2.3rem;
  margin-bottom: 2rem;
}
.contact-main__label {
  color: #e5e3e2;
  font-weight: bold;
  align-self: baseline;
  margin: 0.5rem 0.2rem;
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  display: block;
}
.contact-main__input-email,
.contact-main--message-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 2px;
  border: 0;
  width: calc(100% - 1.6rem);
  color: #000;
  display: block;
}
.contact-main--message-text {
  height: 9rem;
}
.contact-main--message-text::placeholder {
  color: #000;
}
.contact-main-block__button {
  display: flex;
  justify-content: flex-end;
}
.contact-main__button-send-message {
  font-family: "Fira Sans", sans-serif;
  background: #fff;
  font-weight: 800;
  font-size: 0.7rem;
  text-decoration: none;
  border-radius: 2rem;
  align-self: flex-end;
  padding: 0.9rem 2rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  border: none;
  color: #434343;
  box-shadow: #5f5f5f 0 1px 5px 0px;
}

.contact-main__come-visit-us-arrowup-link {
  background-color: #c7ddea;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  z-index: 999;
}
.contact-main__come-visit-us-arrowup-link-icon {
  font-size: 4.5rem;
  color: #000;
  line-height: 4.5rem;
  z-index: 999;
  position: fixed;
}

/* Footer */
.contact-footer-section {
  height: 0;
}
.contact-footer-card__come-visit-us {
  padding: 1.5rem 1.5rem;
  transform: translate(1.5rem, -50%);
  background-color: #fab131;
  width: calc(100% - 6rem);
  z-index: 3;
  position: relative;
}
.contact-footer-card__come-visit-us h1,
.contact-footer-card__come-visit-us p {
  color: #ffffff;
}
.contact-footer-card__come-visit-us--h1 {
  font-size: 2.2rem;
  margin: 0;
}
.contact-footer-card__come-visit-us--state,
.contact-footer-card__come-visit-us--adress {
  font-size: 1rem;
  margin: 0.4rem 0;
}
.contact-footer-card__come-visit-us--state {
  margin-bottom: 5rem;
}

/* Footer map */
.contact-footer-map__section {
  overflow: hidden;
}
.contact-footer-map__figure {
  background: url("../pictures-and-icons/map.png");
  height: 400px;
  background-size: cover;
  margin: 0;
  transition: 0.5s ease;
  justify-content: center;
  display: flex;
  align-items: center;
}

.contact-footer-map__figure:active {
  transform: scale(2);
  transition: 0.5s ease;
}
.contact-footer__map {
  display: flex;
  flex-shrink: unset;
  min-height: 400px;
}
.contact-footer__map:active {
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: zoom-out;
}
.material-icons.footer__pin-marker {
  font-size: 5rem;
  color: #f17949;
}
/* GENERAL-CONTACT */
.max-width {
  max-width: 1000px;
  margin: 0 auto;
}

/* Desktop */

@media screen and (min-width: 768px) {
  /* Header */
  .block__man-baby-h1 {
    position: relative;
    width: initial;
    padding-top: 4rem;
    height: auto;
    margin-right: 1rem;
    font-size: 3.7rem;
  }

  /* Menu */
  .nav--contact {
    width: 25%;
    font-size: 1rem;
  }
  .nav--contact.active > a {
    background: none;
  }

  /* Contact form */
  .contact-main {
    padding: 5rem 1.5rem 10rem;
  }
  .contact-main__h1 {
    font-size: 3rem;
    max-width: 400px;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    line-height: 3rem;
  }
  .contact-main__p-email {
    margin-top: 0;
  }
  .contact-main__section {
    display: flex;
    justify-content: space-between;
  }
  .contact-main__section-article {
    padding: 0 3%;
  }
  .contact-main__contacting-us {
    max-width: 470px;
    width: 100%;
  }
  .contact-main__contacting-us label:first-child {
    margin-top: 0;
  }
  .contact-main__label {
    padding-left: 0;
    font-size: 1rem;
  }
  /* Map */
  .contact-footer-card__come-visit-us {
    padding: 1.5rem 1.5rem;
    transform: initial;
    margin-left: 1.5rem;
    width: 300px;
    top: 40px;
    z-index: 3;
  }
  .contact-footer-card__come-visit-us--h1 {
    font-size: 2.8rem;
  }
  .contact-main__come-visit-us-arrowup-link {
    display: none;
  }
  .material-icons.footer__pin-marker {
    font-size: 5rem;
  }
  .footer__map {
    width: 100%;
  }
}

/* <-------why-us-------> */
.why-us-body {
  background-color: #c7ddea;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block__why-us {
  flex-wrap: wrap;
  padding-bottom: 0;
  display: flex;
  padding: 0;
  transition: 0.5s ease;
  list-style: none;
  margin: 0;
}
.nav--why-us {
  margin-top: 1rem;
  width: 50%;
  text-align: center;
  font-weight: bold;
  color: #999999;
  transition: 0.5s ease;
  text-decoration: none;
  font-size: 0.8rem;
  border-radius: 1rem;
}
.nav--why-us.active > a {
  background-color: #f1f1f1;
  color: #000000;
  border-radius: 1rem;
}
.nav--why-us > a {
  text-decoration: none;
  color: #a9a19e;
  transition: 0.5s ease;
  padding: 2rem;
  display: block;
}
.nav--why-us > a:hover {
  cursor: pointer;
  color: black;
  transition: 0.5s ease;
}
.nav--why-us:hover {
  background-color: #58585841;
  transition: 0.5s ease;
  text-align: center;
  font-weight: bold;
  transition: 0.5s ease;
  transform: scale(1.2);
}
.why-us__h1,
.why-us__h2 {
  color: rgba(0, 0, 0, 0.692);
}

.why-us-one,
.why-us-two,
.why-us-three {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 10rem;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 80%;
  text-align: center;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  box-shadow: black 0 0.1rem 0.7rem 0;
}
.why-us-one {
  background-color: #fab131;
}
.why-us-two {
  background-color: #f17949;
}
.why-us-three {
  background-color: #a9a19e;
}

.why-us-button {
  justify-content: center;
  text-align: center;
  align-self: center;
  padding: 0.5rem;
  width: 8rem;
  height: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 1rem;
  box-shadow: 0rem 0.1rem 0.3rem 0;
  transition: ease 0.8s;
  margin-bottom: 1rem;
}
.why-us-button:hover {
  background-color: rgba(0, 0, 0, 0.452);
  transition: ease 0.8s;
  cursor: pointer;
  z-index: 0;
}
.why-us-popup-one-text,
.why-us-popup-two-text,
.why-us-popup-three-text {
  top: 0;
  left: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  height: auto;
  background: rgb(255, 230, 0);
  display: none;
  box-shadow: black 0 0.3rem 0.5rem 0rem;
  border-radius: 1rem;
  position: absolute;
  z-index: 3;
}

#why-us-popup-one .why-us-popup-content {
  position: relative;
  display: inline-block;
}
#why-us-popup-two .why-us-popup-content {
  position: relative;
  display: inline-block;
}
#why-us-popup-three .why-us-popup-content {
  position: relative;
  display: inline-block;
}
.why-us-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
  line-height: 0;
  padding: 9px 0 11px;
  width: 1.4rem;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: ease-in 0.5s;
}
.why-us-close:hover {
  background-color: rgba(0, 0, 0, 0.404);
  transition: ease-in 0.5s;
}

.why-us-popup-one-text:target {
  display: block;
  position: absolute;
}
.why-us-popup-two-text:target {
  display: block;
  position: absolute;
}
.why-us-popup-three-text:target {
  display: block;
  position: absolute;
}
.why-us-lorem-text {
  font-size: 0.9rem;
}
.why-us-arrow-up {
  right: 5%;
  bottom: 5%;
  font-size: 2rem !important;
  align-self: center;
  position: fixed;
  padding: 1rem;
  color: #000000;
  z-index: 5;
  background-color: rgba(153, 153, 153, 0.507);
  border-radius: 50%;
  box-shadow: black 0 0.2rem 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .nav--why-us {
    width: 25%;
    font-size: 1rem;
  }
  .why-us-arrow-up {
    visibility: hidden;
  }
  .nav--why-us.active > a {
    background: none;
  }
  .why-us-popup-one-text,
  .why-us-popup-two-text,
  .why-us-popup-three-text {
    bottom: 0;
  }
  .why-us-lorem-text {
    font-size: 1rem;
  }
  .why-us-button:hover {
    transform: scale(1.2);
  }
}
