html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  min-width: 320px;
  padding: 0;
  margin: 0;
  flex-shrink: 1;
}
.fontsize16 {
  font-size: 16px;
}
.fontsize48 {
  font-size: 48px;
  margin-bottom: 1rem;
}
h1 {
  font-family: "Frank Ruhl Libre", serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.9rem;
  opacity: 0.7;
}
.family-block > p {
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.whitetext {
  color: whitesmoke;
}
.family-block > h1:nth-child(1) {
  padding-top: 4rem;
  margin-top: 0;
}
.family-block > h1 {
  line-height: 0.5rem;
  font-size: 2.5rem;
}
.family-block {
  background-color: #c7ddea;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
}
.family-block span {
  position: relative;
}
.family-block > img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 40%;
}

.join-now {
  border-radius: 25px;
  border-style: none;
  box-shadow: 1px 4px 7px 1px #95a9b4;
  padding: 0.2rem 2.5rem 0.2rem 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 20rem;
}
.join-now > p {
  font-size: 0.6rem;
  opacity: 1;
}

.twoblocks {
  display: flex;
  flex-direction: column;
}
.orangeblock > h1,
.yellowblock > h1 {
  font-size: 42px;
  margin: 0;
}
.orangeblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f17949;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 50%;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.yellowblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fab131;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 50%;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.index-main > h1:nth-child(1) {
  padding-top: 2.5rem;
  margin-top: 0;
}

.index-main {
  display: flex;
  flex-direction: column;
  background-color: #a9a19e;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin: 0;
  padding-bottom: 2rem;
  text-align: left;
}

.index-main_profiles {
  display: flex;
  flex-direction: column;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin: 0;
}
.index-profiles_boxes img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.index-profiles_boxes {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: whitesmoke;
  width: 16rem;
  height: 20rem;
  border-radius: 1rem;
  margin-top: 5rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  justify-content: flex-end;
}
.index-profiles_boxes > p {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.index-profiles_boxes_images {
  width: 90%;
  height: 40%;
  padding-top: 2rem;
  background-color: #c7ddea;
  align-self: center;
  border-radius: 1rem;
  /* position: relative; */
  position: absolute;
  bottom: 2rem;
  text-align: center;
  bottom: 68%;
  z-index: 1;
}

.yellowbackground {
  background-color: #fab131;
}
.orangebackground {
  background-color: #f17949;
}

.index-profiles_boxes > h1 {
  position: relative;
}

/* About us */
.aboutus {
  background-color: #fab131;
  display: grid;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin: 0;

  text-align: center;
  padding-bottom: 2.5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.six-items {
  display: grid;
  /* justify-content: center; */
  /* text-align: center; */
}
/* .six-items > .steps-how-it-works{
    height: 20vh;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} */
.steps-how-it-works:nth-child(1) {
  background-color: #c7ddea;
  /* text-align: center; */
}
/* .six-items_blueblock>h1{
  padding: 0;
  margin: 0;
} */
.steps-how-it-works:nth-child(3) {
  background-color: rgb(219, 219, 219);
  /* white-space: pre-line; */
}
.steps-how-it-works:nth-child(5) {
  background-color: #f17949;
}
.step-numbers {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
}
.step-numbers > h1,
.steps-how-it-works > h1 {
  margin: 0;
}

.steps-how-it-works {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20vh;
  text-align: center;
  flex-direction: column;
}

.steps-how-it-works > h1 {
  font-size: 38px;
  align-self: center;
  text-align: center;
  line-height: 2.5rem;
}

.steps-how-it-works > p {
  width: 60%;
}

.index-footer {
  background-color: grey;
  min-height: 20vh;
  position: relative;
}

.fas {
  color: #c7ddea;
  font-size: 52px;
  position: absolute;
  bottom: 15%;
  left: 80%;
  position: fixed;
  z-index: 999;
  background-color: #000000;
  border-radius: 70%;
}

/* CONTACT */

/* HEADER-CONTACT */
.contact-wrapper {
  font-family: "Fira Sans", sans-serif;
}
.block-man-baby {
  background-color: #c7ddea;
}
.block-man-baby__article {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 1rem 0;
  margin: 0;
}
.image-man-baby {
  width: 250px;
}
.block__man-baby-h1 {
  position: absolute;
  left: 1rem;
  top: 0px;
  font-size: 2.8rem;
  font-weight: 800;
  margin-top: 8rem;
  width: 200px;
  line-height: 41px;
}
.block__contact {
  flex-wrap: wrap;
  padding-bottom: 0;
  display: flex;
  padding: 0;
  transition: 0.5s ease;
  list-style: none;
  margin: 0;
}
.nav--contact {
  width: 50%;
  text-align: center;
  font-weight: bold;
  color: #999999;
  transition: 0.5s ease;
  text-decoration: none;
  font-size: 0.8rem;
}
.nav--contact.active > a {
  background-color: #f1f1f1;
  color: #000000;
}
.nav--contact > a {
  text-decoration: none;
  color: #a9a19e;
  transition: 0.5s ease;
  padding: 2rem;
  display: block;
}
.nav--contact > a:hover {
  cursor: pointer;
  color: black;
  transition: 0.5s ease;
}
.nav--contact:hover {
  background-color: #f1f1f1;
  transition: 0.5s ease;
  text-align: center;
  font-weight: bold;
  transition: 0.5s ease;
}

/* MAIN-CONTACT*/
.contact-main {
  position: relative;
  background-color: #a9a19e;
  padding: 1.5rem;
  align-items: center;
  padding-bottom: 9rem;
}
.contact-main__h1 {
  margin-top: 0;
  color: white;
  font-weight: 800;
  font-size: 2.8rem;
  margin-bottom: 0.3rem;
}
.contact-main__label {
  color: #e5e3e2;
  font-weight: bold;
  align-self: baseline;
  margin: 0.5rem 0.2rem;
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  display: block;
}
.contact-main__input-email,
.contact-main--message-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 2px;
  border: 0;
  width: calc(100% - 1.6rem);
  color: #000;
  display: block;
}
.contact-main--message-text {
  height: 9rem;
}
.contact-main-block__button {
  display: flex;
  justify-content: flex-end;
}
.contact-main__button-send-message {
  font-family: "Fira Sans", sans-serif;
  background: #fff;
  font-weight: 800;
  font-size: 0.7rem;
  text-decoration: none;
  border-radius: 2rem;
  align-self: flex-end;
  padding: 0.9rem 2rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  border: none;
  color: #434343;
  box-shadow: #5f5f5f 0 1px 5px 0px;
}

.contact-main__come-visit-us-arrowup-link {
  background-color: #c7ddea;
  position: absolute;
  right: -0.4rem;
  bottom: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.contact-main__come-visit-us-arrowup-link-icon {
  font-size: 4.5rem;
  color: #000;
  line-height: 4.5rem;
}

/* Footer */
.contact-footer {
  position: relative;
}
.contact-footer-card__come-visit-us {
  max-height: 11rem;
  padding: 1.5rem 1.5rem;
  transform: translate(0%, -50%);
  background-color: #fab131;
  width: calc(100% - 6rem);
  position: absolute;
  top: 0;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 3;
}
.contact-footer-card__come-visit-us h1,
.contact-footer-card__come-visit-us p {
  color: #ffffff;
}
.contact-footer-card__come-visit-us--h1 {
  font-size: 2.5rem;
  margin: 0;
}
.contact-footer-card__come-visit-us--state,
.contact-footer-card__come-visit-us--adress {
  font-size: 1rem;
  margin: 0.4rem 0;
}
.contact-footer-card__come-visit-us--state {
  margin-bottom: 5rem;
}

/* Footer map */
.contact-footer-map__section {
  overflow: hidden;
}
.contact-footer-map__figure {
  position: relative;
  background: url("./map.png");
  height: 400px;
  background-size: cover;
  margin: 0;
}
.contact-footer-map__figure:active {
  transform: scale(2);
}
.contact-footer__map {
  display: flex;
  flex-shrink: unset;
  min-height: 400px;
}
.contact-footer__map:active {
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: zoom-out;
}
.material-icons.footer__pin-marker {
  font-size: 5rem;
  position: absolute;
  color: #f17949;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* GENERAL-CONTACT */
.max-width {
  max-width: 1000px;
  margin: 0 auto;
}
.relative {
  position: relative;
}

/* Desktop */

@media (min-width: 768px) {
  /* Header */
  .block__man-baby-h1 {
    position: relative;
    width: initial;
    padding-top: 4rem;
    height: auto;
    margin-right: 6rem;
    font-size: 3.7rem;
  }

  /* Menu */
  .nav--contact {
    width: 25%;
    font-size: 1rem;
  }
  .nav--contact.active > a {
    background: none;
  }

  /* Contact form */
  .contact-main {
    padding: 5rem 1.5rem 10rem;
  }
  .contact-main__h1 {
    font-size: 3rem;
    width: 400px;
  }
  .contact-main__p-email {
    margin-top: 0;
  }
  .contact-main__section {
    display: flex;
    justify-content: space-between;
  }
  .contact-main__section-article {
    padding: 0 3%;
    max-width: 270px;
  }
  .contact-main__contacting-us {
    max-width: 470px;
    width: 100%;
  }
  .contact-main__label {
    padding-left: 0;
    font-size: 1rem;
  }

  /* Map */
  .contact-footer-card__come-visit-us {
    padding: 1.5rem 1.5rem;
    transform: initial;
    top: 0;
    left: 1.5rem;
    right: 1.5rem;
    width: 300px;
    top: 40px;
    position: absolute;
    z-index: 3;
  }
  .material-icons.footer__pin-marker {
    font-size: 5rem;
  }
  .footer__map {
    width: 100%;
  }
}
