body {
  margin: 0;
  padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;   
    min-width: 320px; 
    flex-shrink:1;
    padding: 0;
    margin: 0;
}   

.index-header{  
    background-color: #c7ddea;
}

h1 {
  font-family: "Frank Ruhl Libre", serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.88rem;
  opacity: 0.8;
}

.whitetext {
  color: whitesmoke;
}
.mainblock > h1:nth-child(1) {
  padding-top: 2.5rem;
}
.mainblock > h1 {
  line-height: 0.5rem;
}
.mainblock {
  background-color: #c7ddea;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
}
.picturefamily {
  height: 200px;
  width: 360px;
  padding: 0;
  margin: 0;
}

.join-now {
  border-radius: 25px;
  border-style: none;
  box-shadow: 1px 4px 7px 1px #95a9b4;
  padding: 0rem 2.5rem 0rem 2.5rem;
  margin-top: 2rem;
  margin-left: 0.1rem;
}
.twoblocks {
  display: flex;
  flex-direction: column;
}
.orangeblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f17949;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 50%;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.yellowblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fab131;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 50%;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.index-main {
  background-color: #a7a7a7;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
}

.index-adult-container{
    width: 100px;
}

/* CONTACT */
.contact-wrapper {
  min-width: 360px;
}
.block-man-baby {
  background-color: #c7ddea;
  display: flex;
  justify-content: flex-start;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  padding-top: 10px;
}
.image-man-baby {
  width: 150;
  height: 350px;
}

.block__man-baby-h1 {
  position: relative;
  left: 44px;
  top: 70px;
  font-size: 28px;
  font-weight: bold;
}
.contact-navigation {
  display: flex;
  flex-flow: wrap;
  align-self: center;
  justify-content: space-evenly;
  background-color: white;
}
.block__contact {
  display: flex;
  padding: 0;
  transition: 1s ease;
}
.block__contact:hover {
  display: flex;
  background-color: rgb(112, 112, 112);
  transition: 1s ease;

  padding: 0;
}
.nav--contact {
  width: 130px;
  text-align: center;
  font-weight: bold;
  color: #a9a19e;
  transition: 1s ease;
}
.nav--contact:hover {
  width: 130px;
  text-align: center;
  font-weight: bold;
  color: black;
  transition: 1s ease;
}
